<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout">
<head>
    <meta charset="ISO-8859-1">
    <title>Create Order</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <div layout:fragment="content">       
        <form th:action="@{/order/save}" th:object="${order}" method="post">
            <input type="hidden" th:field="*{id}" />
            <div class="row mb-3">
              <label for="inputOrderNumber" class="col-sm-2 col-form-label">Order Number</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{orderNumber}" id="inputOrderNumber">
              </div>
            </div>            
            <fieldset class="row mb-3">
              <legend class="col-form-label col-sm-2 pt-0">Select Products</legend>
              <div class="col-sm-10">
                <th:block th:each="product: ${listProducts}">
                    <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="gridRadios" th:field="*{products}" th:text="${product.name}" th:value="${product.id}" id="gridRadios1">
                    <label class="form-check-label" for="gridRadios1"></label>
                    </div> 
                </th:block>              
              </div>
            </fieldset>             
            <fieldset class="row mb-3">
              <legend class="col-form-label col-sm-2 pt-0">Select Company</legend>
              <div class="col-sm-10">
                <div class="form-group row">
                  <div class="col-8">                       
                      <select th:field="*{company}" class="form-control">
                          <option th:each="company : ${listCompanies}"
                                  th:text="${company.name}"
                                  th:value="${company.id}">
                      </select>                        
                  </div>
              </div>              
              </div>
          </fieldset>          
            <button type="submit" class="btn btn-primary">Create Order</button>
          </form>
    </div>

</body>
</html>